section{
  &[role="menu"] {
    width: 20%;
    position: absolute;
    z-index: 999;
    height: 100%;
    box-shadow: 0 -15px 100px -20px #000;
    &[pikl-gutter-type="default"]{
      top: 0;
      &[pikl-gutter-state="visible"]{
        left: 0;
      }
      &[pikl-gutter-state="invisible"]{
        left: -20%;
      }
    }
  }
  &[role="content"] {
    position: absolute;
    top: 0;
    z-index: 998;
    height: 100%;
    overflow-y: auto;
    &[pikl-gutter-state="visible"]{
      left: 20%;
      width: 80%;
    }
    &[pikl-gutter-state="invisible"]{
      left: 0;
      width: 100%;
    }
  }
  &[role="menu"][pikl-gutter-button="true"] {
    &[pikl-gutter-state="invisible"]{
      i.pikl.__gutter_button:before {
        position: fixed;
        left: 0;
      }
    }
    i.pikl.__gutter_button{
      cursor: pointer;
      &:before {
        content: "CLICK";
        position: absolute;
        right: 0;
        top: 0;
      }
    }
  }
}
